<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">
    <head>
        <script>
            const handleTakeTest = (event) => {
                const parameters = new URLSearchParams(window.location.search)
                const SRN = parameters.get("SRN")
                window.location.assign(`http://${window.location.host}/takeTest?SRN=${SRN}&testId=${event.target.id}`)
            }
        </script>
    </head>

    <body>
        <div th:each = "test: ${tests}">
            <!-- <p th:text = "${test.getTestId()}" /> -->
            <p th:text = "${test.getSubject()}" />
            <p th:text = "${test.getDifficulty()}" />
            <p th:text = "${test.getStartDateTime()}" />
            <p th:text = "${test.getEndDateTime()}" />
            <p th:text = "${test.getDescription()}" />
            <input th:id = "${test.getTestId()}" type = "button" value = "Take Test" onclick = "handleTakeTest(event)" />
        </div>
    </body>
</html>